/* Base Styles */
:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: #fdfdfd;
  color: #333;
  padding-bottom: 3rem;
}

img {
  display: block;
}

/* Reset some default styles */
body,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styling for the app */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
}

/* Header styling */
header {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(34, 33, 33, 0.1);
  padding: 1rem;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.profile-user-settings {
  display: flex;
  justify-items: flex-start;

}

.profile-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-color: black;
  margin-right: 0rem;
}

.profile-user-name {
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color:black;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  border: 1px solid grey;
  width: 100px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  background-color: grey;
  transition: transform 0.2s ease-in-out; /* Add a smooth transition for the transform property */
}

.btn:hover {
  transform: scale(1.1); /* Scale the button to 110% on hover */
  background-color: lightskyblue;
  
}


.profile-edit-btn {
  margin-right: 1rem;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1rem 0; /* Adjusted margin */
}
.profile-stats li {
  margin-right: 10px;
  display: flex;
}
.profile-stat-count {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.profile-bio {
  margin-top: 1rem;
  font-size: 1rem;
  color: #888;
}

/* Main section styling */
main {
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.3s; /* Add transition for box-shadow */
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add a larger box shadow on hover */
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-item-info ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item-info li {
  margin: 0 1rem;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
}

.gallery-item-likes i,
.gallery-item-comments i {
  margin-right: auto;
  margin-right: auto;
}

